<section class="hero-section">
  <div class="container">
    <div class="text-wrapp">
      <h1 class="hero-title-h">Hi, I am John, Creative Technologist</h1>
      <p class="hero-title-p">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <a
        href="https://drive.google.com/file/d/1QL4IqVo1cJq73Dp6duk64kvWAAydi0zX/view?usp=sharing"
        class="download-resume-btn"
        download
      >
        <span class="span-dowload">Download Resume</span>
      </a>
    </div>

    <div class="img-ellips">
      <img
        class="peaple-ellips"
        src="../img/desctop_home_ellipse@1x.png"
        srcset="
          ../img/desctop_home_ellipse@1x.png 1x,
          ../img/desctop_home_ellipse@2x.png 2x
        "
        alt="man"
        width="243"
        height="243"
      />
    </div>
  </div>
</section>
