<section class="hero-section">
  <div class="container">
    <div class="text-wrapp">
      <h1 class="hero-title-h">
        Discover the magic of
        <span class="hero-title-span"> photography </span> in our school
      </h1>
      <p class="hero-title-p">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <button>Daunvgfdgvsdfglk</button>
    </div>
    <div class="icon">
        <img
          class="icon-girl2"
          src="./img/hero-reviews-img/hero-reviews-3.png"
          alt="girl"
          width="54"
          height="54"
        />
      </div>
  </div>
  
</section>
